<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8">
      <title>Group 21 Sentimental Analysis -- Line Chart</title>

  </head>

  <body>
    <div id="main" style="width: 800px;height:600px;">
    </div>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js">
    </script>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));


        var twitterdata = {{ twitterdata }};

        var aurindata = {{ aurindata }};

        var instagramdata = {{ instagramdata }};

        var xlabel = {{ xlabel|safe }};


        var option = {
                title: {
                    text: 'Group 21 Sentimental Analysis',
                    subtext: 'Click me',
                    sublink: 'http://127.0.0.1:5000'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['Twitter Data', 'Aurin Data', 'Instagram Data'],
                    top: 40
                },
                grid: {
                    top: '15%',
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: xlabel
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                {
                    name: 'Twitter Data',
                    type: 'line',
                    stack: 'score',
                    data: twitterdata
                },

                 {
                    name: 'Aurin Data',
                    type: 'line',
                    stack: 'score',
                    data: aurindata
                },
                 {
                    name: 'Instagram Data',
                    type: 'line',
                    stack: 'score',
                    data:instagramdata
                  }]
        };

        myChart.setOption(option);

    </script>

</body>
</html>