<!DOCTYPE html>
<html style="height: 100%">

  <head>
    <meta charset="utf-8">
    <title>Group 21 Sentimental Analysis -- Map</title>
  </head>

  <body style="height: 100%; margin: 0">
    <div id="main" style="height: 100%">
    </div>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js">
    </script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js">
    </script>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
        myChart.showLoading();

        var twitterdata = JSON.parse('{{ twitterdata|safe }}');

        var aurindata = JSON.parse('{{ aurindata|safe }}');

        var instagramdata = JSON.parse('{{ instagramdata|safe }}');

        $.get('/static/melb_geojson.json', function (geoJson) {
            myChart.hideLoading();

            echarts.registerMap('melb_geojson', geoJson);

            option = {
                title: {
                    text: 'Group 21 Sentimental Analysis',
                    subtext: 'Click me',
                    sublink: 'http://127.0.0.1:5000/linechart'
                },
                tooltip: {
                    trigger: 'item',
                    showDelay: 0,
                    transitionDuration: 0.2,
                    formatter: function (params) {
                        var value = (params.value + '').split('.');
                        value = value[0].replace(/(\d{1,3})(?=(?:\d{3})+(?!\d))/g, '$1,');
                        return params.seriesName + '<br/>' + params.name + ': ' + value;
                    }
                },
                legend: {
                  data: ['Twitter Data', 'Aurin Data', 'Instagram Data'],
                  left: 'center',
                  top: 30
                  },

                visualMap: {
                    left: 'left',
                    min: 0,
                    max: 300,
                    inRange: {
                        color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                    },
                    text:['High','Low'],
                    calculable: true,
                    left: 100,
                    bottom: 50
                },
                toolbox: {
                    show: true,
                    orient: 'vertical',
                    left: 'right',
                    top: 'center',
                    feature: {
                        dataView: {readOnly: false},
                        restore: {},
                        saveAsImage: {}
                    }
                },
                series: [
                    {
                        name: 'Twitter Data',
                        type: 'map',
                        roam: true,
                        mapType: 'melb_geojson',
                        itemStyle:{
                            emphasis:{label:{show:true}}
                        },
                        data: twitterdata
                    },

                     {
                        name: 'Aurin Data',
                        type: 'map',
                        roam: true,
                        mapType: 'melb_geojson',
                        itemStyle:{
                            emphasis:{label:{show:true}}
                        },
                        data: aurindata
                    },
                     {
                        name: 'Instagram Data',
                        type: 'map',
                        roam: true,
                        mapType: 'melb_geojson',
                        itemStyle:{
                            emphasis:{label:{show:true}}
                        },
                        data:instagramdata
                      }]
            };

            myChart.setOption(option);
        });
    </script>

</body>
</html>